**/.vs
**/bin
**/obj
**/.idea
os-lab-2/passdict.txt
os-lab-extra/**/.idea
os-lab-extra/cpp/cmake-build-debug
os-lab-extra/cpp/CMakeLists.txt
os-lab-extra/**/*.exe
os-lab-extra/**/*.obj
os-lab-extra/**/main
os-lab-extra/**/*.o
